############################################################
# 1、忽略文件
# *.bak               # 忽略所有扩展名为.bak的文件
# !keep.bak      # 但keep.bak文件除外（不会被忽略）
# temp/test.txt  # 忽略temp目录下的test.txt文件
# temp/*.txt       # 忽略temp目录下所有扩展名为.txt的文件
#  
# 2、忽略目录
# temp/       # 忽略temp目录下的所有目录和文件
# temp/*/    # 忽略temp目录下的所有目录，但不会忽略该目录下的文件
############################################################

##############################
## Folders                  ##
##############################
.vscode
__pycache__
backup
backup*
data
data*
demo

 
##############################
## file                     ##
##############################
*.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


resources/icons/.DS_Store

resources.py

.idea*
labelImg.egg-info*

*.pyc
.*.swp

build/
dist/

tags
cscope*
.ycm_extra_conf.py
.subvimrc
.vscode
*.pkl
